.chart1{
    background-color: lightgray;
    border-color: black;
    border-style: double;
    border-radius: 15px;
}
.chart2{
    background-color: lightgray;
    border-color: rgb(0, 0, 0);
    border-style: double;
    border-radius: 15px;
}
  